html, body {
  margin: 0;
  padding: 0;
  background-color: #f0ecdf; /* Bianco uovo */
  font-family: 'Figtree';
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centra orizzontalmente */
  align-items: center;     /* Centra verticalmente */
  height: 100vh;           /* Imposta l'altezza al 100% della viewport */
  font-size: 2rem;
  color: #333;
}